<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content zoomIn">
    <div class="modal-header">
      <!--Modal Close Button-->
      <button type="button" class="close" ng-click="closeModal()">&times;</button>
      <h4 class="modal-title">Error</h4>
    </div>
    <div class="modal-body">
      <h1>{{message}}</h1>
      <button id="signUpButton" type="submit" class="btn-lg" ng-click="setModalView(previousView)">Try Again</button>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>