<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content zoomIn">
    <div class="modal-header">
      <!--Modal Close Button-->
      <button type="button" class="close" ng-click="closeModal()">&times;</button>
      <h4 class="modal-title">Sign Up</h4>
    </div>
    <div class="modal-body">
      <div class="half-section center-content">
         <img src="/img/placeholder.png" alt="Uni Logo Goes Here" class="img-responsive"/>
      </div>
      <div class="half-section">             
        <!--Sign Up Form-->
        <form>
            <div class="form-group">
              <input type="text" class="form-control" id="firstname" placeholder="Name" ng-model="signUpProfile.name" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="signUpProfile.email" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="pwd" placeholder="Password" ng-model="signUpProfile.password" required>
            </div>
            <div class="button-container center-content">
              <button id="signUpButton" type="submit" class="btn-lg" type="button" ng-click="signUp()">Sign Up</button>
            </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      
    </div>
  </div>
</div>